<div class="container">
    <app-recorder [chunks]="chunks" (videoData)="getVideoData($event)" #recorder></app-recorder>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <form #f="ngForm" (ngSubmit)="onAddQuestion(f.value)" ngNativeValidate>
                        <div class="form-group col-md-4">
                            <label for="titre">Titre :</label>
                            <input type="text" class="form-control" id="titre" name="titre" ngModel required />
                        </div>
                        <div class="form-group col-md-4">
                            <label for="categorie">Catégorie :</label>
                            <select id="categorie" class="form-control" name="categorie" ngModel required>
                                <option [value]="cat.id" *ngFor="let cat of categories">{{cat.libelle}}</option>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header">Nouvelle Catégorie :</h5>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <form #f="ngForm" (ngSubmit)="onAddCategorie(f.value)" ngNativeValidate>
                        <div class="form-group">
                            <label for="libelle">libellé :</label>
                            <input type="text" class="form-control" id="libelle" name="libelle" ngModel required />
                        </div>
                        <input type="submit" value="Ajouter" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>