.annonces{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 600px;
}
.list{
    display: flex;
    border-bottom: solid 1px #E0E0E0;
    padding-top: 1em;
    padding-bottom: 1em;
   height: auto;
   cursor: pointer;
}
.info{
    background-color: #FFFFFF;
    height: auto;
}
.date{
    height: 100%;
    display: flex;
    justify-content: flex-end;
}
.content-header{
    display: flex;
}
.content-header button{
    border: none;
    outline: none;
    color: #FFFFFF;
    background-color: #6E49AE;
    width: 17em;
    font-weight: 500;
}
@media (max-width: 600px) {
    .annonces{
        overflow-y: hidden;
        overflow-x: auto;
        display: flex;
        flex-wrap: nowrap;
        white-space: nowrap
    }
    .list{
       display: block;
       min-width: 20em;
        border-right: solid 1px #E0E0E0;
    }
    .list strong{
        white-space: break-spaces;
    }
    .content-header{
        display: block;
        text-align: center;
    }
    .content-header button{
        
        width: 17em;
        font-weight: 500;
        margin-top: 15px;
    }
   
  }