<div class="bg-dark mb-4 w-100" style="height: 6em;">

</div>
<div class="row">
    <div class="col-lg-8">
        <app-videos [iDsOfSelectedQuestion]="iDsOfSelectedQuestion" (questionSelected)="questionSelected($event)" [selectMode]=true></app-videos>
    </div>
    <div class="col-lg-4">
        <div>
            <h2> To create a test</h2>
            <ul>
                <li> select a catgory</li>
                <li> select a questiony</li>
                <li> drag question to sort questions </li>

            </ul>
        </div>
        <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let question of questions,let index=index" cdkDrag>{{index+1+" "}}) {{question.titre}} <button
                    class="btn btn-link" (click)="remove(index,question.idQuestion)"><i class='fas fa-trash-alt'></i></button></div>
        </div>
        <!--  question not empty -->
        <div 
        class="text-center"
        *ngIf="this.questions[0]"> <button class="btn btn-success w-75"> Save Test</button></div>
    </div>
</div>