<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Video categories</h1>
        <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>
    </div>
</section>
<!-- <div class="container">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  
                    <li class="breadcrumb-item"><a href="category.html">Category</a></li>
                   
                </ol>
            </nav>
        </div>
    </div>
</div> -->
<div class="container">

    <div class="row">
        <div class="col-12 col-sm-12 col-md-3">
            <div class="card bg-light mb-3">
                <div class="card-header bg-primary text-white text-uppercase"><i class="fa fa-list"></i> Categories</div>
                <select class="form-control category_block" size=7>
                    <option class="form-control" value={{category.id}} *ngFor="let category of categories"
                    (click)="catSelected(category.id)"
                    
                    >{{category.libelle}}</option>
                    
                </select>
            </div>
            <div class="card bg-light mb-3">
                <div class="card-header ">
                    <button class="btn btn-success w-100 mb-2">Add category</button>
                    <input 
                    placeholder="category name"
                    class="form-control">
                   
                </div>
                <div class="card-header">
                    <button class="btn btn-danger w-100"> add question</button>
                </div>
               
            </div>
        </div>
        <div 
        *ngFor="let video of videos"
        class="col-12 col-md-6 col-lg-4">
            <div class="card">
               <video class="w-100"src={{video.path}} controls></video>
                <div class="card-body">
                    <h4 class="card-title"><a href="product.html" title="View Product">Product title</a></h4>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <div class="row">
                        <div class="col">
                            <p class="btn btn-danger btn-block">delete video</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item" *ngFor="let page of pages"><a class="page-link" href="#">{{page}}</a></li>
                    
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>

    </div>

</div>
