<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  </head>
  <body>
<div style="background: #E9EBEE;;">
    <header>
        
        <h1> PFA</h1>
        <div class="login">

            <div>
                <label>
                    email
                </label><br>
                <input 
                [(ngModel)]="username"
                name="email" />
            </div>
            <div>
                <label>
                    password
                </label><br>
                <input 
                [(ngModel)]="password"
                type="password" 
                name="password" />
            </div>
            <div style="margin-top: 0.5em;"> <br>
                <button (click)="onLogin()"> login</button>
            </div>
        </div>

    </header>
    
    <div class="section2">
        <div>
            imeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
            Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que
            son contenu n'en soit modifié. Il a été popularisé dans les années 1960 grâce à la vente de feuilles
            Letraset contenant des passages du Lorem Ipsum, et, plus récemment, par son inclusion dans des applications
            de mise en page de texte, comme Aldus PageMaker.

            Pourquoi l'utiliser?
            On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de
            distractions, et empêche de se concentrer sur la mise en page elle-même. L'avantage du Lorem Ipsum sur un
            texte générique comme 'Du texte. Du texte. Du texte.' est qu'il possède une distribution de lettres plus ou
            moins normale, et en tout cas comparable avec celle du français standard. De nombreuses suites logicielles
            de mise en page ou éditeurs de sites Web ont fait du Lorem Ipsum leur faux texte par défaut, et une
            recherche pour 'Lorem Ipsum' vous conduira vers de nombreux sites qui n'en sont encore qu'à leur phase de
            construction. Plusieurs versions sont apparues avec le temps, parfois par accident, souvent
            intentionnellement (histoire d'y rajouter de petits clins d'oeil, voire des phrases embarassantes).


        </div>
        <div>
            <div *ngIf="errorLogin!=''" style="margin-top:auto;width:80%;color:red">
                <span> {{errorLogin}}</span>
        </div>
            <div style="margin-left:1em;">
                <h2 style="margin-bottom:0;padding-bottom: 0;"> Create an account</h2>
                <div style="margin-top:0;"> best job market</div>
            </div>
            <div *ngIf="error!=''" style="margin-top:auto;width:80%;color:red">
                    <span> {{error}}</span>
            </div>
            <div style="margin-top:auto;width:80%">
                <input style="padding:0.5em 0;width:100%;" placeholder="First Name" [(ngModel)]="registerForm.prenom">
            </div>
            <div style="margin-top: 0;width:80%">
                <input style="padding:0.5em 0;width:100%;" placeholder="Last Name" [(ngModel)]="registerForm.nom">
            </div>
            <div style="margin-top: 0;width:80%">
                <input placeHolder="email" style="padding:0.5em 0;width:100%;" [(ngModel)]="registerForm.email">
            </div>
            <div style="margin-top: 0;width:80%">
                <input type="password" 
                placeholder="PASSWORD"
                style="padding:0.5em 0;width:100%;" [(ngModel)]="registerForm.password">
            </div>
            <div style="margin-top: 0;width:80%; display: flex;justify-content: space-between;">
                <div style="margin-top: 0;">
                    <input type="radio" name="role" [(ngModel)]="registerForm.role" value="candidat"  checked>
                    Candidat
                </div>
                <div style="margin-top: 0;">
                    <input type="radio" name="role" value="grh" [(ngModel)]="registerForm.role" >
                    GRH
                </div>


            </div>
            <div style="margin-top: 0;width:80%">
                <button style="width:100%" class="btn btn-success" (click)= "register()" >
                    Register
                </button>
            </div>

        </div>
    </div>
</div>
</body>
</html>